:root {
  --cyan: #66BFBF;
  --pumpkin-orange: #ffcc80;
  --top-gradient: linear-gradient(to bottom, var(--cyan) 30%, white);
  --bottom-gradient: linear-gradient(to top, var(--cyan), white 90%);
  --top-gradient-collapse: linear-gradient(to bottom, var(--cyan) 80%, white)
}

body {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  margin: 0;
}

/* HEADER PART */
.header {
  background-image: var(--top-gradient);
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
  background-color: var(--cyan);
  box-shadow: 0 0 1rem var(--cyan);
  padding: 1rem;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.header__button {
  text-decoration: none;
  color: white;
  padding: 0 4rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem
}

.header__button:hover {
  color: var(--pumpkin-orange);
  text-shadow: 0 0 0.2rem var(--pumpkin-orange);
}

.header__primary {
  color: white;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  text-shadow: 0 0 0.2rem white;
  padding-top: 3rem;
}

.header__secondary {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-style: italic;
}

.header__pro {
  text-decoration: underline;
}

.header__pro:hover {
  color: var(--pumpkin-orange);
  text-shadow: 0 0 0.2rem var(--pumpkin-orange);
}

.header__img {
  position: sticky;
  z-index: 2;
  filter: drop-shadow(0 0 0.5rem white);
  .
}

.header__img2 {
  position: absolute;
  z-index: 1;
  top: 25rem;
  left: 25rem;
}

/* MAIN PART */
main {
  padding: 0 11rem;
  margin: 0;
}

.mainSection__img {
  width: 350px;
  padding-left: 1%;
  padding-top: 2rem;
}

.mainSection__primary {
  color: var(--cyan);
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

.skills__primary {
  color: var(--cyan);
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

.mainSection__flexContainer {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
}

.skills__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills__li {
  line-height: 1.6rem;
}

.certs__primary {
  color: var(--cyan);
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

.certs__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.certs__li {
  line-height: 1.6rem;
}

.motto__primary {
  color: var(--cyan);
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

.motto__text {
  line-height: 1.5rem;
}

.motto__cite {
  text-transform: uppercase;
}

.motto__quote {
  letter-spacing: 0.08rem;
  font-style: italic;
}

/* FOOTER PART */
.footer {
  background-image: var(--bottom-gradient);
  padding-bottom: 20px;
}

.footer__primary {
  color: var(--cyan);
  margin: 0;
  padding: 2rem 0 1rem;
}

.footer__nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 0;
}

.footer__button {
  text-decoration: none;
  color: white;
  padding: 0 4rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem
}

.footer__button:hover {
  color: var(--pumpkin-orange);
  text-shadow: 0 0 0.1rem var(--pumpkin-orange);
}

/* Table Part */
.table {
  display: grid;
  font-weight: 400;
  margin: 3%;
  box-shadow: 0 0 0.5rem var(--cyan);
}

.table__header {
  font-weight: 900;
  background: var(--cyan);
  color: white;
}

.table__row {
  display: grid;
  grid-template-columns: 60px repeat(7, minmax(100px, 1fr));
}

.table__row:nth-of-type(odd) {
  background: #ededed;
}


.table__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.table__cell.table__header {
  box-shadow: 0 0 0.5rem var(--cyan);
}


/* Responsive Part */

@media screen and (max-width: 1920px) {
  .table {
    overflow: scroll;
    overflow-y: hidden;
  }
}


@media screen and (max-width: 850px) {
  .table {
    font-size: 50%;
  }
}

@media screen and (max-width: 683px) {
  .header {
    padding: 2.5rem;
  }

  .header__primary {
    font-size: 5rem;
  }

  .header__img {
    width: 100%;
  }

  .header__img2 {
    display: none;
  }

  main {
    padding: 0 3rem;
  }

  .mainSection__img {
    width: 60%;
    padding-left: 1%;
    padding-top: 0;
  }
}

@media screen and (max-width: 375px) {
  .header__img, .header__img2, .mainSection__img {
    display: none;
  }
}
