:root {
  --cyan: #66BFBF;
  --pumpkin-orange: #ffcc80;
  --top-gradient: linear-gradient(to bottom, var(--cyan) 30%, white);
  --bottom-gradient: linear-gradient(to top, var(--cyan), white 90%);
}

body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
}

/* HEADER PART */
.header {
  background-image: var(--top-gradient);
}

.header__nav {
  background-color: var(--cyan);
  padding: 1rem;
  margin: 0;
}

.header__button {
  text-decoration: none;
  color: white;
  padding: 0 4rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem
}

.header__button:hover {
  color: var(--pumpkin-orange);
}

.header__primary {
  color: white;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  text-shadow: 0 0 0.2rem white;
}

.header__secondary {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

.header__pro {
  text-decoration: underline;
}

.header__pro:hover {
  color: var(--pumpkin-orange);
}

.header__img {
  filter: drop-shadow(0 0 0.5rem white);
}

/* MAIN PART */
.mainSection__primary {
  color: var(--cyan);
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

.skills__primary {
  color: var(--cyan);
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

.skills__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills__li {
  line-height: 1.6rem;
}

.certs__primary {
  color: var(--cyan);
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

.certs__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.certs__li {
  line-height: 1.6rem;
}

.motto__primary {
  color: var(--cyan);
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

.motto__text {
  line-height: 1.5rem;
}

/* FOOTER PART */
.footer {
  background-image: var(--bottom-gradient);
  padding-bottom: 20px;
}

.footer__primary {
  color: var(--cyan);
  margin: 0;
  padding: 2rem 0 1rem;
}

.footer__nav {
  padding: 1rem;
  margin: 0;
}

.footer__button {
  text-decoration: none;
  color: white;
  padding: 0 4rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem
}

.footer__button:hover {
  color: var(--pumpkin-orange);
}
